@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Black.eot');
  src: url('./assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Lato-Black.woff2') format('woff2'),
      url('./assets/fonts/Lato-Black.woff') format('woff'),
      url('./assets/fonts/Lato-Black.ttf') format('truetype'),
      url('./assets/fonts/Lato-Black.svg#Lato-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Light.eot');
  src: url('./assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Lato-Light.woff2') format('woff2'),
      url('./assets/fonts/Lato-Light.woff') format('woff'),
      url('./assets/fonts/Lato-Light.ttf') format('truetype'),
      url('./assets/fonts/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Bold.eot');
  src: url('./assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Lato-Bold.woff2') format('woff2'),
      url('./assets/fonts/Lato-Bold.woff') format('woff'),
      url('./assets/fonts/Lato-Bold.ttf') format('truetype'),
      url('./assets/fonts/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Regular.eot');
  src: url('./assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Lato-Regular.woff2') format('woff2'),
      url('./assets/fonts/Lato-Regular.woff') format('woff'),
      url('./assets/fonts/Lato-Regular.ttf') format('truetype'),
      url('./assets/fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
}

a:hover {
  color: #FF6C64;
}

.section {
  width: 1020px;
  margin: 0 auto;
}

/* HEADER - Logo*/

header {
  height: 89px;
  /* align-items: center; */
  background-color: #272C38;
  border-bottom: 6px solid #2C3445; 
  color: #ffffff;
  box-sizing: content-box;
  line-height: 1;
}

.header-block {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start */
   /* border: 2px solid green;  */
  padding: 32px 38px;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
}

.header-logo span {
  font-size: 25px;
  font-weight: 700;
  color: #FF6C64;
}


.header-nav {
  display: flex;
  justify-content: space-between;
  width: 370px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  padding-top: 12px;
  padding-left: 0;
  /*border: 1px solid green; */
}

.header-nav li {
  list-style-type: none;
}

.header-nav span {
  color: #454D63;
}


/* MAIN Slider block*/

main {
  height: 594px;
  background-color: #FF6C64;
  border-bottom: 6px solid #FF676C;
}

.slider-block__left {
  z-index: 1;
  position: absolute;
  top: 376px;
  left: 485px;
}

.slider-block__right {
  z-index: 1;
  position: absolute;
  top: 376px;
  left: 1408px;
}

.slider-block__vertical {
  z-index: 1;
  position: absolute;
  top: 148px;
  left: 555px;
}

.slider-block__horizontal {
  z-index: 1;
  position: absolute;
  top: 269px;
  left: 868px;
}



/* Footer - Our Services*/

footer {
  height: 500px;
  padding: 59px 40px 72px 40px;
  background-color: #F2F2F2;
  color: #737FA1;
  box-sizing: border-box;
}

.services-block {
  height: 102px;
}

.services-block h1 {
  font-size: 30px;
  font-weight: 900;
}

.services-block p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  margin-top: 18px;
  text-align: justify;
}

/* Services content */

.services-wrap {
  display: flex;
  margin-top: 56px;
}

.services-wrap__block {
  display: flex;
  width: 300px;
  height: 95px;
}

.services-text {
  margin-left: 20px;
}

.responsive {
  margin-top: 28px;
}

.services-wrap__content {
  margin-left: 22px;
}

.image {
  margin-left: 2px;
  margin-top: 3px;
}

.services-wrap__content h2 {;
  font-size: 18px;
  font-weight: 900;
}

.services-wrap__content p {
  width: 217px;
  font-size: 12px;
  font-weight: 700;
  margin-top: 8px;
  line-height: 1.8;
  text-align: justify;
}


