* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
}

a:hover {
  color: #FF6C64;
}

.section {
  width: 1020px;
  margin: auto;
}

/* HEADER - Logo*/

header {
  align-items: center;
  background-color: green;
  border-bottom: 4px solid #2C3445; 
  box-sizing: border-box;
  color: #ffffff;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid green; */
  padding: 32px 36px;
}

.header-logo {
  font-size: 25px;
  font-weight: 700;
}

.header-logo span {
  color: #FF6C64;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  font-size: 12px;
  font-weight: 700;
  /* border: 1px solid green; */
}

.header-nav li {
  list-style-type: none;
}

/* MAIN Slider block*/

main {
  height: 585px;
  background-color: #FF6C64;
  border-bottom: 15px solid #FF676C;
}



/* Footer - Our Services*/

footer {
  height: 500px;
  padding: 68px 40px 72px 40px;
  background-color: #ffffff;
  color: #737FA1;
  box-sizing: border-box;
}

.services-block {
  
}

.services-block h1 {
  font-size: 30px;
  font-weight: 900;
}

.services-block p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 30px;
}

/* Services content */

.services-wrap {
  display: flex;
  margin-top: 55px;
}

.services-wrap__block {
  display: flex;
  width: 300px;
  height: 85px;
}

.services-text {
  margin-left: 20px;
}

.services-wrap__content {
  margin-left: 20px;
}

.services-wrap__content h2 {
  font-size: 18px;
  font-weight: 900;
}

.services-wrap__content p {
  font-size: 12px;
  font-weight: 700;
  margin-top: 20px;
  line-height: 2;
  text-align: justify;
}


